nav {
    height: 5rem;
    
}
.navbar{
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    margin-bottom: 80px;
    z-index: 2;
}
.navbar-fixed{
    background-color: white;
    box-shadow: 0 5px 25px rgb(0, 0, 0);
    animation-duration: 1.3s;
    animation-name: fade-in-down;
}
.navbar-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-header{
    img{
        height: 3rem;
    }

}
.nav-btn {
    display: none;
}
.nav-links {
    li {
        margin-left: 1.5rem;

        a {
            font-size: 20px;
            font-weight: 600;
        }
    }
}
.icon__nav {
    font-size: 30px;
}
.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon__nav {
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        
    }
    li {
        margin-bottom: 1.2rem;

        a {
            font-size: 2rem;
            font-weight: 600;
        }
    }

}

@media screen and (max-width:900px) {
    .nav-btn {
        display: block;
    }

    .nav-links {
        display: none;
    }
}
@media screen and (max-width:300px) {
    .nav-header{
        img{
            height: 2rem;
        }
    
    }
}

@media screen and (min-width:900px) {
    .nav-links {
        display: flex;
    }
}

